<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <title>somareport</title>
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Semantic-Org/UI-Dropdown/master/dropdown.css">
    <link rel="stylesheet" href="https://rawgit.com/Semantic-Org/UI-Dropdown/master/dropdown.min.css">

  </head>
  <body>
    <div style="width:100%;height:100%;background-color:#F5F5F5;float:left;overflow:auto;padding-top:20px;padding-left:20px;position:relative;">
     <form id="statisticsHeader" method="post" action="/console/statistics/perMonth" enctype="multipart/form-data">
      <table>
        <tr>
          <td>
            <select class="ui dropdown" onchange="location=this.options[this.selectedIndex].value;">
              <option>월별 통계</option>
              <optgroup label="">
                <option value="/console/statistics/project">프로젝트별 통계</option>
                <option value="">월별 통계</option>
              </optgroup>
            </select>
          </td>
          <td>
            <select id="yearHo" class="ui dropdown" name="year" style="margin-left:10px;">
              <option value="{{year}}">{{year}}{{^year}}Year{{/year}}</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select>
          </td>
          <td>
            <select id="monthHo" class="ui dropdown" name="month" style="margin-left:10px;">
              <option value="{{month}}">{{month}}{{^month}}Month{{/month}}</option>
              <option value="8">8</option>
              <option value="7">7</option>
            </select>
          </td>
          <td>
            <button id="buttonHo" class="ui button" type="submit" style="margin-left:10px;">통계 보기</button>
          </td>
        </tr>
      </table>     
     </form>
     <div name="mentorTable">
        <table id="mentor" class="display dataTable compact" cellspacing="0" width="100%" height="30%">
          <thead>
            <tr><td><label>멘토</label></td></tr>
            <tr>
              <th class="sorting">이름</th>
              <th class="sorting">멘토링 횟수</th>
              <th class="sorting">멘토링 시간</th>
            </tr>
           </thead>
          <tbody>
          {{#mentors}}
            <tr>
             <td>{{userName}}</td>
              <td>{{mentoringNum}}</td>
              <td>{{mentoringSum}}</td>
            </tr>
          {{/mentors}}
          </tbody>
        </table>
      </div>
      <div name="menteeTable">
        <table id="mentee" class="display dataTable compact" cellspacing="0" width="100%" height="30%`">
          <thead>
            <tr><td><label>멘티</label></td></tr>
            <tr>
              <th class="sorting">이름</th>
              <th class="sorting">멘토링 횟수</th>
              <th class="sorting">멘토링 시간</th>
            </tr>
          </thead>
          <tbody>
          {{#mentees}}
            <tr>
              <td>{{userName}}</td>
              <td>{{mentoringNum}}</td>
              <td>{{mentoringSum}}</td>
            </tr>
          {{/mentees}}
          </tbody>
        </table>
        </div>

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#mentor').DataTable( {
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false
        });
        $('#mentee').DataTable( {
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false
        });
        $('#buttonHo').click(function(){
          var year = document.getElementById('yearHo');
          var month = document.getElementById('monthHo');
          var year_value = year.options[year.selectedIndex].value;
          var month_value = month.options[month.selectedIndex].value;
        
          if(!year_value){
            alert("year is null");
            return false;
          }
          if(!month_value){
            alert("month is null");
            return false;
          }

      });
    });

    </script>
    <script src="https://cdn.rawgit.com/Semantic-Org/UI-Dropdown/master/dropdown.js">
    </script>
    <script src="https://cdn.rawgit.com/Semantic-Org/UI-Dropdown/master/dropdown.min.js">
    </script>
  </body>
</html>