<!DOCTYPE html>
<html>
<body>
	<h1>Demo Array Post</h1>
 
	<form action="http://localhost:8080/demo/form" method="post">
 	<input type='text' name='array[]' value='hello' />
 	<input type='text' name='array[]' value='world' />
 	<input type='text' name='array[]' value='!' />
 	<input type='submit' value='Submit' />
	</form>
</body>
</html>