<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1"> 
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
  </head>
  <body>
    <div class="container vertical-center">
    	<div class="card card-container">
    		<center><h1><span class="logo-front">SOMA</span><span class="logo-back">REPORT</span></h1></center>
            <p id="profile-name" class="profile-name-card logo-subtext">bogoseo. write. success.</p>
            <form class="form-signin" action="http://localhost:8080/login" method="post">
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">로그인</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                비밀번호를 잊어버리셨나요?
            </a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>