<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="theme.css">
</head>

  <body>

	<nav id="somareport-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SOMA Report</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a>프로젝트 리스트</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div>
    <div class="line"></div>
    <a href="./reportlist.mustache"><h2 style="margin-top:0.2em;margin-bottom:0.2em">SOMA Expensify</h2></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">6기 1단계 1차</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td><td>
      <div class="circular mentee-pic user-l"></div>
      </td></tr>
    </table>   
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>