<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1"> 
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="3024099101-h9n9s6qbhj6mkh97qhdtrf7dui1b9c2j.apps.googleusercontent.com">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
</head>

  <body>

	<nav id="somareport-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SOMA Report</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:8080/stage/list">기수 목록</a></li>
          <li><a>></a></li>
          <li><a href="http://localhost:8080/project/list/{stage}/{level}/{d}" class="disable">6기 1단계 1차</a></li>
          <li><a class="disable">></a></li>
          <li><a class="disable">SOMA Expensify</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li><a class="disable" onclick="signOut();">로그아웃</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div>
    <div class="line"></div>
    <h2 style="margin-top:0.2em;margin-bottom:0.2em">멘토링 보고서 목록</h2>
    </div>
    <div>
    <div class="line"></div>
    <a href="http://localhost:8080/report/office/1"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#20150724</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">센터승인 : 대기중</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td></tr>
    </table>   
    </div>
    <div>
    <div class="line"></div>
    <a href="http://localhost:8080/report/office/1"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#20150722</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">센터승인 : 대기중</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td><td>
      <div class="circular mentee-pic user-l"></div>
      </td></tr>
    </table>   
    </div>
    <div>
    <div class="line"></div>
    <a href="http://localhost:8080/report/office/1"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#20150720</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">센터승인 : 대기중</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td><td>
      <div class="circular mentee-pic user-l"></div>
      </td></tr>
    </table>   
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          location.href="http://localhost:8080/login";
        });
      }
      function onLoad() {
        gapi.load('auth2', function() {
        gapi.auth2.init();
        });
      }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  </body>
</html>