<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Expires" content="-1"> 
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
</head>

  <body>

	<nav id="somareport-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SOMA Report</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:8080/stage/list">기수 목록</a></li>
          <li><a>></a></li>
          <li><a href="http://localhost:8080/project/list/{stage}/{level}/{d}" class="disable">6기 1단계 1차</a></li>
          <li><a class="disable">></a></li>
          <li><a href="http://localhost:8080/report/list/office/pj1" class="disable">SOMA Expensify</a></li>
          <li><a class="disable">></a></li>
          <li><a class="disable">#150722</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div>
    <div class="line"></div>
    <h2 style="margin-top:0.2em;margin-bottom:0.2em">#150724</h2>
    </div>
    <div>
    <h3 style="margin-top:0.8em">상태</h3>
    <h5>센터승인 : 진행중 | <a href="">PDF 다운로드</a></h5>
    </div>
    <div>
    <h3 style="margin-top:0.5em;margin-bottom:0.2em">참석자 리스트</h3>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td></tr>
    </table>   
    </div>
    <div>
    <h3 style="margin-top:0.8em">회차</h3>
    <h5>2회차</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">멘토링 진행 일시</h3>
    <h5>2015년 7월 22일 19:00~23:30</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">제외시간</h3>
    <h5>[없는경우 표시하지 않습니다]</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">주제</h3>
    <h5>프로젝트 개발 진행</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">목표</h3>
    <h5>구체적인 개발 방향을 제시한다</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">추진내용</h3>
    <h5>팀원간에 역할을 결정하고, 해당 부분을 담당할 팀장을 뽑아 일정을 직접 관리한다.</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">해결방안</h3>
    <h5>Trello를 이용해 Task를 할당한다.<br>Github를 통해 issue를 관리한다.</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">향후계획</h3>
    <h5>결정한 사항대로 프로젝트 개발을 진행한다.</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">멘토의견</h3>
    <h5>일정이 촉박해 추가적인 개발 스케쥴링이 필요하다.</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">기타</h3>
    <h5>[없는경우 표시하지 않습니다]</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">내용</h3>
    <h5>[교육자료]</h5>
    </div>
    <div>
    <h3 style="margin-top:0.8em">사진</h3>
    <h5>[그리드]</h5>
    </div>
    <a href="#" class="btn btn-material-red-A400">승인<div class="ripple-wrapper"></div></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>