<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="theme.css">
</head>

  <body>

	<nav id="somareport-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SOMA Report</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a class="disable">프로젝트 리스트</a></li>
          <li><a class="disable">></a></li>
          <li><a class="disable">SOMA Expensify</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disable">기본 프로젝트로 설정</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div>
    <div class="line"></div>
    <h2 style="margin-top:0.2em;margin-bottom:0.2em">멘토링 보고서 목록</h2>
    </div>
    <div>
    <div class="line"></div>
    <a href="./reportdetail.mustache"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#20150724</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">프로젝트 개발 진행</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td></tr>
    </table>   
    </div>
    <div>
    <div class="line"></div>
    <a href="./reportdetail.mustache"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#20150722</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">프로젝트 스케쥴링</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td><td>
      <div class="circular mentee-pic user-l"></div>
      </td></tr>
    </table>   
    </div>
    <div>
    <div class="line"></div>
    <a href="./reportdetail.mustache"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#20150720</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">프로젝트 적용기술 관련 발표</h5>
    <table><tr><td>
      <div class="circular user-a"></div>
      </td><td>
      <div class="mentor-divider"></div>
      </td><td>
      <div class="circular mentee-pic user-k"></div>
      </td><td>
      <div class="circular mentee-pic user-m"></div>
      </td><td>
      <div class="circular mentee-pic user-l"></div>
      </td></tr>
    </table>   
    </div>
    <a href="./writereport.mustache" class="btn btn-fab btn-raised btn-primary" style="position:fixed;right:56px;bottom:56px;"><i class="mdi-image-edit"></i><div class="ripple-wrapper"></div></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>