<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1"> 
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  </head>
  <body>
    <nav id="soma-nav" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="logo-front">SOMA</span><span class="logo-back">REPORT</span></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:8080/project/list" class="disable">프로젝트 리스트</a></li>
          <li><a class="disabled">></a></li>
          <li><a href="http://localhost:8080/report/list/{{pid}}">{{pname}}</a></li>
          <li><a class="disabled">></a></li>
          <li><a class="disabled">#{{title}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a onclick="/mypage">마이페이지</a></li>
          <li><a onclick="signOut();">로그아웃</a></li>
        </ul>
      </div>
    </nav>
    <div id="soma-container" class="container">
    <div style="background-color:#fff" class="shadow-z-1 soma-list-card">
    <form method="post" action="http://localhost:8080/report/write">
    <input type="hidden" name="projectid" value="{{pid}}">
    <div class="group">      
      <input name="location" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>장소</label>
    </div>
    <div class="group">      
      <input name="start" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>멘토링 시작 시간</label>
    </div>
    <div class="group">      
      <input name="end" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>멘토링 종료 시간</label>
    </div>
    <div class="group">      
      <input name="except" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>제외 시간</label>
    </div>
    <div class="group">      
      <input name="topic" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>주제</label>
    </div>
    <div class="group">      
      <input name="goal" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>목표</label>
    </div>
    <div class="group">      
      <input name="issue" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>추진내용</label>
    </div>
    <div class="group">      
      <input name="solution" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>해결방안</label>
    </div>
    <div class="group">      
      <input name="plan" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>향후계획</label>
    </div>
    <div class="group">      
      <input name="opinion" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>멘토의견</label>
    </div>
    <div class="group">      
      <input name="etc" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>기타</label>
    </div>
    <h4>내용</h4>
    <div class="group">      
      <textarea style="width:100%;max-width:100%;overflow:visible" type="text" onkeyup="resize(this)" required></textarea>  
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">제출</button>
    <div style="height:15px">
    </div>
    </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script>
      function resize(obj) {
        obj.style.height = "1px";
        obj.style.height = (20+obj.scrollHeight)+"px";
      }
    </script>
  </body>
</html>