<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1"> 
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  </head>
  <body>
    <nav id="soma-nav" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="logo-front">SOMA</span><span class="logo-back">REPORT</span></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:8080/project/list" class="disable">프로젝트 리스트</a></li>
          <li><a class="disabled">></a></li>
          <li><a href="http://localhost:8080/report/list/{{pid}}">{{pname}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a onclick="/mypage">마이페이지</a></li>
          <li><a onclick="/logout">로그아웃</a></li>
        </ul>
      </div>
    </nav>
    <div id="soma-container" class="container">
    {{#reportList}}
    <div style="background-color:#fff" class="shadow-z-1 soma-list-card">
    <a href="http://localhost:8080/report/{{id}}"><h3 style="margin-top:0.2em;margin-bottom:0.2em">#{{reportTitle}}</h3></a>
    <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{reportTopic}}</h5>
    <div class="divider"></div>
    <table><tr>
      {{#attendee}}
      <td>
      <div class="circular-img mentee"></div>
      </td>
      {{/attendee}}
      </tr>
    </table>   
    </div>
    <div style="height:15px">
    </div>
    {{/reportList}}
    <a href="http://localhost:8080/report/write/{{pid}}" class="btn btn-fab btn-raised btn-primary" style="position:fixed;right:56px;bottom:56px;"><i class="mdi-image-edit"></i><div class="ripple-wrapper"></div></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
  </body>
</html>