<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1"> 
    <meta http-equiv="Pragma" content="no-cache"> 
    <meta http-equiv="Cache-Control" content="No-Cache"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  </head>
  <body>
    <nav id="soma-nav" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="logo-front">SOMA</span><span class="logo-back">REPORT</span></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:8080/project/list" class="disable">프로젝트 리스트</a></li>
          <li><a class="disabled">></a></li>
          <li><a href="http://localhost:8080/report/list/{{pid}}">{{pname}}</a></li>
          <li><a class="disabled">></a></li>
          <li><a class="disabled">보고서 작성</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/mypage">마이페이지</a></li>
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      </div>
    </nav>
    <div id="soma-container" class="container">
    <div style="background-color:#fff" class="shadow-z-1 soma-list-card">
    <form method="post" action="http://localhost:8080/report/write" enctype="multipart/form-data">
    <input type="hidden" name="projectid" value="{{pid}}">
    <h5 style="padding-left:5px; color:#5264AE">참석자</h5>
    {{#mentee}}
    <div class="form-group">
  		<div>
            <div class="circular-img">
    		</div>
            <input id="a1reason" name="reason_u1" type='text' placeholder="불참사유" class="form-control"/>
    	</div>
    </div>
    {{/mentee}}
    <h5 style="padding-left:5px; color:#5264AE">시작시간</h5>
  	<div class="form-group">
  		<center>
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' onkeypress="return false;" style="padding-left:5px;" name="start" class="form-control"/>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        	</span>
    	</div>
    	</center>
    </div>
    <h5 style="padding-left:5px; color:#5264AE">종료시간</h5>
    <div class="form-group" style="margin-bottom:45px;">
  		<center>
        <div class='input-group date' id='datetimepicker2'>
            <input type='text' onkeypress="return false;" style="padding-left:5px;" name="end" class="form-control"/>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        	</span>
    	</div>
    	</center>
    </div>
    <div class="group materialst-input">      
      <input name="place" type="text" value="아람7-6" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>장소</label>
    </div>
    <div class="group materialst-input">      
      <input name="topic" type="text" value="북경오리" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>주제</label>
    </div>
    <div class="group materialst-input">      
      <input name="goal" type="text" value="먹고싶다" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>목표</label>
    </div>
    <div class="group materialst-input">      
      <input name="issue" type="text" value="간절하게 원하면 이루어질것이다." required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>추진내용</label>
    </div>
    <div class="group materialst-input">      
      <input name="solution" type="text" value="돈을벌어서 사먹으면 된다." required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>해결방안</label>
    </div>
    <div class="group materialst-input">      
      <input name="plan" type="text" value="두마리를 시킨다." required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>향후계획</label>
    </div>
    <div class="group-c materialst-input">
      <input name="opinion" type="text" value="내가 사준다." required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>멘토의견</label>
    </div>
    <div class="checkbox checkbox-helper">
		<label>
			<input name="opinion-public"type="checkbox"><span class="checkbox-material"><span class="check"></span></span>	멘토의견 공개
		</label>
	  </div>
    <div class="group materialst-input">      
      <input name="etc" type="text" value="아몰랑!" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>기타</label>
    </div>
    <h5 style="padding-left:5px; color:#5264AE">내용</h5>
    <div class="group materialst-input">      
      <textarea style="width:100%;max-width:100%;overflow:visible" name="content" type="text" onkeyup="resize(this)" required></textarea>  
    </div>
    <h5 style="padding-left:5px; color:#5264AE">인증사진</h5>
    <input type="file" name="file">
    <div>
    <button class="btn btn-default btn-raised">작성완료<div class="ripple-wrapper"></div></button>
    </div>
    <div style="height:15px">
    </div>
    </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script>
    	$(function () {
                $('#datetimepicker1').datetimepicker({
                	locale: 'ko',
                  format: 'YYYYMMDD HH:mm'
                });
                $('#datetimepicker2').datetimepicker({
                	locale: 'ko',
                	format: 'HH:mm'
                });
                $("#datetimepicker1").on("dp.change", function (e) {
            		 $('#datetimepicker2').datetimepicker({
                		locale: 'ko',
                		sideBySide: true
                	});
        		});
            });
      	function resize(obj) {
        	obj.style.height = "1px";
        	obj.style.height = (20+obj.scrollHeight)+"px";
      	}
      	function doPost(){
          var form = document.createElement("form");
          form.setAttribute("method", "post");
          form.setAttribute("action", "/report/write");
        }
    </script>
  </body>
</html>