body {
  padding-top: 70px;
}

#blocklink a {
    display: block;
}

.line {
    margin-top:2em;
    height: 2px;
    width: 3em;
    background: black;
}

.circular {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}

.grayfilter {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */;
}

.mentee-pic {
    margin-left:0.3em;
}

.user-a {
    background: url(./user_a.jpg) no-repeat;
    background-size: 36px 36px;
}

.user-k {
    background: url(./user_k.jpg) no-repeat;
    background-size: 36px 36px;
}

.user-m {
    background: url(./user_m.jpg) no-repeat;
    background-size: 36px 36px;
}

.user-l {
    background: url(./user_l.jpg) no-repeat;
    background-size: 36px 36px;
}

.mentor-divider {
    width:1px;
    height:36px;
    background-color: rgba(189, 189, 189, 1);
    margin-left:0.3em;
}

#somareport-nav.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#somareport-nav.navbar-default {
    font-size: 14px;
    background-color: rgba(33, 33, 33, 1);
    border-bottom-width: 0px;
}
#somareport-nav.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(33, 33, 33, 1);
}
#somareport-nav.navbar-default .navbar-nav>li>a:hover,
#somareport-nav.navbar-default .navbar-nav>li>a:focus {
    color: rgba(189, 189, 189, 1);
    background-color: rgba(66, 66, 66, 1);
}
#somareport-nav.navbar-default .navbar-nav>.active>a,
#somareport-nav.navbar-default .navbar-nav>.active>a:hover,
#somareport-nav.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 66, 66, 1);
}
#somareport-nav.navbar-default .navbar-toggle {
    border-color: #424242;
}
#somareport-nav.navbar-default .navbar-toggle:hover,
#somareport-nav.navbar-default .navbar-toggle:focus {
    background-color: #424242;
}
#somareport-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #424242;
}
#somareport-nav.navbar-default .navbar-toggle:hover .icon-bar,
#somareport-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #212121;
}