<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  </head>
  <body>
    <nav id="soma-nav" class="navbar navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="logo-front">SOMA</span><span class="logo-back">REPORT</span></a>
        </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
          <li><a href="/logout">로그아웃</a></li>
        </ul>
    </nav>
      <div style="width:30%;height:100%;background-color:#F5F5F5;float:left;overflow:auto;padding-top:60px">
          {{#project}}
          <a href="/report/list/{{_id}}">
          <div style="background-color:#fff;margin:10px" class="shadow-z-1 soma-list-card">
            <h4 style="margin-top:0.2em;margin-bottom:0.2em;color:#212121">{{title}}</h4>
            <h6 style="margin-top:0.2em;margin-bottom:0.3em;color:#9E9E9E">{{stage}}</h6>
            <div class="divider"></div>
              <table><tr>
                {{#mentor}}
                <td>
                  <div class="circular-img mentee" style='background-image: url(/drive/image/{{.}});background-size="36px 36px"'><img src="/drive/image/{{.}}" alt="" style="width:36px;height:36px" /></div>
                </td>
                {{/mentor}}
                <td>
                  <div class="mentor-divider"></div>
                </td>
                {{#mentee}}
                <td>
                  <div class="circular-img mentee" style='background-image: url(/drive/image/{{.}});background-size="36px 36px"'><img src="/drive/image/{{.}}" alt="" style="width:36px;height:36px" /></div>
                </td>
                {{/mentee}}
              </tr></table>
          </div>
          </a>
          {{/project}}
        </div>
      </div>
      <div style="width:70%;height:100%;background-color:#F5F5F5;float:right;overflow:auto;padding-top:60px">

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
  </body>
</html>