<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <title>somareport</title>
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/disablereponsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  </head>
  <body>
    <nav id="soma-nav" class="navbar navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="logo-front">SOMA</span><span class="logo-back">REPORT</span></a>
        </div>
        <ul class="nav navbar-nav">
          {{#project}}
            <li><a href="/project"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{{title}}</a></li>
            <li><a href="/drive/{{_id}}">드라이브</a></li>
          {{/project}}
            <li style="display:table">
              <div class="form-group" style="height:60px;padding-left:20px;vertical-align:middle;display:table-cell">
                <div>
                  <input style="font-size: 18px;color:#ffffff" type="text" name="place" placeholder="검색" class="form-control" />
                </div>
              </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
          <li><a href="/logout">로그아웃</a></li>
        </ul>
    </nav>
        <div style="width:30%;height:100%;background-color:#F5F5F5;float:left;overflow:auto;padding-top:60px;position:relative;">
          <div style="overflow-y: auto;">
          {{#report}}
          <a href="/report/{{_id}}">
          <div style="background-color:#fff;margin:10px" class="shadow-z-1 soma-list-card">
            <h4 style="margin-top:0.2em;margin-bottom:0.2em;color:#212121">#{{date}}</h4>
            <h6 style="margin-top:0.2em;margin-bottom:0.3em;color:#9E9E9E">{{topic}}</h6>
            <div class="divider"></div>
              <table><tr>
                {{#attendee}}
                <td>
                  <div class="circular-img mentee" style='background-image: url(/drive/user/image?id={{id}});background-size="36px 36px"'><img src="/drive/user/image?id={{id}}" alt="" style="width:36px;height:36px" /></div>
                </td>
                {{/attendee}}
              </tr></table>
          </div>
          </a>
          {{/report}}
          </div>
        </div>
      <div style="width:70%;height:100%;background-color:#F5F5F5;float:right;overflow:auto;padding-top:60px">
          {{#detail}}
          <div style="background-color:#fff;margin:10px" class="shadow-z-1 soma-list-card">
            {{#report_info}}
            <h2 style="margin-top:0.2em;margin-bottom:0.2em">#{{date}}</h2>
            {{/report_info}}
            <h3 style="margin-top:1em">참석자</h3>
            <table>
              <tr>
              {{#attendee}}
                <td>
                <div class="circular-img mentee" style='background-image: url(/drive/user/image?id={{id}});background-size="36px 36px"'><img src="/drive/user/image?id={{id}}" alt="" style="width:36px;height:36px" /></div>
                </td>
              {{/attendee}}
              </tr>
            </table>
            <h3 style="margin-top:1em">불참석자</h3>
            <table>
              <tr>
              {{#absentee}}
                <td>
                  <div class="circular-img mentee" style='background-image: url(/drive/user/image?id={{id}});background-size="36px 36px"'><img src="/drive/user/image?id={{id}}" alt="" style="width:36px;height:36px" /></div>
                </td>
                <td>
                  <div class="mentor-divider"></div>
                </td>
                <td>
                  <span style="height:36px;line-height:36px;text-align:center;" class="mentee">{{name}} : {{reason}}</span>
                </td>
              {{/absentee}}
              </tr>
            </table>
            {{#report_info}}
              <h3 style="margin-top:1em">회차</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{mentoring_num}}회차</h5>
              <h3 style="margin-top:1em">장소</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{place}}</h5>
              <h3 style="margin-top:1em">멘토링 시간</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{start_time}} ~ {{end_time}} (제외시간 {{except_time}})</h5>
            {{/report_info}}
            {{#report_details}}
              <h3 style="margin-top:1em">주제</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{topic}}</h5>
              <h3 style="margin-top:1em">목표</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{goal}}</h5>
              <h3 style="margin-top:1em">추진내용</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{issue}}</h5>
              <h3 style="margin-top:1em">해결방안</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{solution}}</h5>
              <h3 style="margin-top:1em">향후계획</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{plan}}</h5>
              {{#opinion-public}}
                <h3 style="margin-top:1em">멘토의견</h3>
                <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{opinion}}</h5>
              {{/opinion-public}}
              {{#etc}}
                <h3 style="margin-top:1em">기타</h3>
                <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{.}}</h5>
              {{/etc}}
              <h3 style="margin-top:1em">내용</h3>
              <h5 style="margin-top:0.2em;margin-bottom:0.3em">{{content}}</h5>
            {{/report_details}}
          </div>
          {{/detail}}
          {{^detail}}
          <div style="height:100%;margin:0 auto;display:table;">
            <div style="display:table-cell;vertical-align:middle;">
              <center>
                <h1><p>확인할 보고서를 선택해주세요!</p></h1>
              </center>
            </div>
          </div>
          {{/detail}}
          {{#project}}
          <a href="/report/write/{{_id}}" class="btn btn-fab btn-raised btn-primary" style="position:fixed;right:56px;bottom:56px;"><i class="mdi-image-edit"></i><div class="ripple-wrapper"></div></a>
          {{/project}}
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
  </body>
</html>