<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somareport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="theme.css">
</head>

  <body>

	<nav id="somareport-nav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SOMA Report</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a class="disable">프로젝트 리스트</a></li>
          <li><a class="disable">></a></li>
          <li><a class="disable">SOMA Expensify</a></li>
          <li><a class="disable">></a></li>
          <li><a class="disable">보고서 작성</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div>
    <div class="line"></div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty" value="#150724"><div class="floating-label">제외시간</div><span class="material-input"></span></div>
    </div>
    <h3 style="margin-top:0.5em;margin-bottom:0.2em">참석자 리스트</h3>
    <div class="checkbox">
    	<label>
        	<input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> 강성훈
        </label>
    </div>
    <div class="checkbox">
    	<label>
        	<input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> 민종현
        </label>
    </div>
    <div class="checkbox">
    	<label>
        	<input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> 이재연
        </label>
    </div>
    <div>
    <h3 style="margin-top:0.8em">회차</h3>
    <h5>2회차 [자동입력]</h5>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">멘토링 진행일시</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">제외시간</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">주제</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">목표</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">추진내용</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">해결방안</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">향후계획</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">멘토의견</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">기타</div><span class="material-input"></span></div>
    </div>
    <div>
    <div class="form-control-wrapper" style="margin-top:2em;"><input type="text" class="form-control empty"><div class="floating-label">내용</div><span class="material-input"></span></div>
    </div>
    <div>
    <h3 style="margin-top:0.8em">사진</h3>
    <a href="#" class="btn btn-material-red-A400">첨부하기<div class="ripple-wrapper"></div></a>
    </div>
    <a href="#" class="btn btn-material-red-A400">업로드<div class="ripple-wrapper"></div></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.js"></script>
  </body>
</html>