<!DOCTYPE html>
<html lang="ko" style="margin:0px;height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <title>somareport</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="http://static.plusquare.com/somareport/theme_new.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/lightningtgc/MProgress.js/master/mprogress.min.css">
  </head>
  <body style="margin:0px;height:100%">
    <div style="height:80px;width:100%;background:#fff;position:absolute;z-index:1;">
      <div style="height:80px;width:15%;float:left;background:#6289D9">
        <table style="height:80px;margin-left:15px">
          <center>
          <tr>
            <td style="align:center">
              <img src="/drive/user/image?id={{user_id}}-profileImage" style="border-radius:50%;width:48px;height:48px;display:inline-block;">
            </td>
            <td style="align:center;padding-left:5px">
            <p style="margin:0;font-size:18px;color:rgba(255, 255, 255, 1);">{{name}}</p>
            <p style="margin:0;font-size:14px;color:rgba(255, 255, 255, 0.7);">{{role}}</p>
            </td>
          </tr>
          </center>
        </table>
      </div>
      <div style="height:80px;width:85%;float:right;background:#fff">
        {{#admin}}
        <a href="/console/stage" style="text-decoration:none;color:#000;display:inline-block">
        {{/admin}}
        {{^admin}}
        <a href="/project/list" style="text-decoration:none;color:#000;display:inline-block">
        {{/admin}}
        <table style="height:80px">
        <tr>
          <td>
            <i style="padding-left:24px;padding-right:24px" class="material-icons">arrow_back</i>
          </td>
          <td>
            <span style="font-size:28px;">mypage</span>
          </td>
        </tr>
        </table>
        </a>
      </div>
    </div>
    <div style="height:100%;width:15%;float:left;background:#323845;">
    <div style="height:80px"></div>
    <a class="menu" href="/mypage">
    <div style="height:60px;padding:0px 15px 0px 15px;background-color:#1D1F29;">
      <table>
        <tr>
          <td>
            <i class="material-icons" style="color:rgba(255, 255, 255, 0.3);">person</i>
          </td>
          <td>
            <p style="padding-left:5px;color:rgba(255, 255, 255, 0.7)">mypage</p>
          </td>
        </tr>
      </table>
    </div>
    </a>
    <a class="menu" href="/logout">
    <div style="height:60px;padding:0px 15px 0px 15px">
      <table>
        <tr>
          <td>
            <i class="material-icons" style="color:rgba(255, 255, 255, 0.3);">power_settings_new</i>
          </td>
          <td>
            <p style="padding-left:5px;color:rgba(255, 255, 255, 0.7)">logout</p>
          </td>
        </tr>
      </table>
    </div>
    </a>
    </div>
    <div style="height:100%;width:85%;float:right;background:#F5F5F5;display:flex;align-items:center;justify-content:center">
      <div style="width:25%;background:#FFF;padding:10px;box-shadow: rgba(0,0,0,0.12) 0px 0px 3px;">
      <span style="font-size:16px;color:rgba(0, 0, 0, 0.54);margin: 10px;">PROFILE PICTURE</span>
      <div class="divider" style="margin:10px;width:calc(100% - 20px)">
      </div>
      <div class="block" style="width:100%;">
          <div class="centered">
              <label for="fileupload">
              <img id="upload" src="/drive/user/image?id={{user_id}}-profileImage" style="top:0px;border-radius:50%;width:64px;height:64px;display:inline-block;position:relative">
              </label>
              <input id="fileupload" type="file" name="file" style="display: none;"/>
          </div>
          <p style="font-size:14px;color:rgba(0, 0, 0, 0.54);">사진을 클릭해서 프로필 사진 변경</p>
      </div>
      <div id="progress" style="margin:10px;"></div>
      <span style="font-size:16px;color:rgba(0, 0, 0, 0.54);margin: 10px 10px 10px 10px;">PASSWORD CHANGE</span>
      <div class="divider" style="margin:10px;width:calc(100% - 20px)">
      </div>
      <form action="/mypage/password" method="post">
      {{#check}}
      <center><p style="font-size:14px;color:#E82C0C;">{{.}}</p></center>
      {{/check}}
      <input style="width:calc(100% - 20px);margin: 20px 10px 10px 10px;" placeholder="NEW PASSWORD" type="password" name="new" required="">
      <input style="width:calc(100% - 20px);margin: 20px 10px 10px 10px;" placeholder="OLD PASSWORD" type="password" name="old" required="">
      <button type="submit">
        <i class="material-icons" style="color: white;">done</i>
      </button>
      </form>
      </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.rawgit.com/lightningtgc/MProgress.js/master/mprogress.min.js"></script>
    <script src="https://rawgit.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload.js" type="text/javascript"></script>
    <script>
      $(document).ready(function() {
      $('#fileupload').fileupload({
        url : '/drive/profile/image/upload',
        dataType: 'json',
        //replaceFileInput: false,
        add: function(e, data){
            var uploadFile = data.files[0];
            var isValid = true;
            if (!(/png|jpe?g|gif/i).test(uploadFile.name)) {
                alert('png, jpg, gif 만 가능합니다');
                isValid = false;
            } else if (uploadFile.size > 5000000) { // 5mb
                alert('파일 용량은 5메가를 초과할 수 없습니다.');
                isValid = false;
            }
            if (isValid) {
                data.submit();
            }
        }, progressall: function(e,data) {

        }, done: function (e, data) {
            console.log(data);
            var code = data.result.code;
            var msg = data.result.msg;
            if(code == '1') {
                location.reload();
            } else {
                alert(code + ' : ' + msg);
            }
        }, fail: function(e, data){
            console.log(data);
            console.log(data.errorThrown);
            console.log(data.textStatus);
            console.log(data.jqXHR);
            alert('서버와 통신 중 문제가 발생했습니다');
            foo = data;
        }
    });
});
    </script>
  </body>
</html>