<!DOCTYPE html>
<html lang="ko" style="margin:0px;height:100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <title>somareport</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
  </head>
  <body style="margin:0px;width:100%;height:100%;display:flex;align-items:center;justify-content:center;background:#F5F5F5">
    <div style="width:30%;height:50%;background:#FFF">
      <input placeholder="Username" type="text" required="">
      <input placeholder="Password" type="password" required="">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>