@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body, html {
    height: 100%;
    width: 100%;
}

.divider {
    margin-top:10px;
    margin-bottom:10px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
}

.menu:hover div {
  background-color: #1D1F29;
}

.tablelist tr:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.block {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

button {
  border: none;
  cursor: pointer;
  background: #6289D9;
  border-radius: 1px;
  margin: 10px;
  padding: 6px;
  width: calc(100% - 20px);
  color: white;
}

button:hover {
  background: #396ACF;
}

input {
  padding: 10px 0;
  display: block;
  border: none;
  border-bottom: solid 2px #6289D9;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  color: #0e6252;
}

input:focus, input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
}

input::-webkit-input-placeholder {
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
 color: #6289D9;
 font-size: 11px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}
