<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is config file!</comment>
<entry key="elasticsearch_base">http://127.0.0.1:9200</entry>
<entry key="couchdb_name">somareport</entry>
<entry key="couchdb_url">http://127.0.0.1:5984</entry>
<entry key="couchdb_id">somareport</entry>
<entry key="couchdb_password">somasoma</entry>
<entry key="test">test</entry>
</properties>