<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is config file!</comment>
<entry key="elasticsearch_base">http://172.16.101.172:9200</entry>
<entry key="couchdb_name">somareport</entry>
<entry key="couchdb_url">http://172.16.101.172:5984</entry>
<entry key="couchdb_id">somareport</entry>
<entry key="cloudant_pwd">somasoma</entry>
<entry key="test">test</entry>
</properties>